.reveal {
  blockquote {
    text-align: left;
    width: 100%;
    padding: .5rem;
    opacity: .7;
    font-size: 2rem;
    line-height: 1.4;
    background: #121212;
    margin-bottom: 1.5rem;
    ol {
      margin-bottom: 0;
    }
  }

  .theme {
    margin: 2rem 0px;
  }

  .talks {
    margin: 0;
  }
  .talk {
    list-style: none;
    margin-bottom: 1rem;
  }
  .talk--author {
    overflow: hidden;
  }
  .talk--image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
  }
  .talk--speaker {
    height: 60px;
    line-height: 60px;
  }
  .talk--title {
    padding: 2rem 0px 2rem 70px;
    font-style: italic;
  }

}
